        *,
        *:before,
        *:after {
            box-sizing: border-box;
            margin: 0;
        }

        :root {
            --color-mosegron: #a0aba2;
            --color-gron: #6aa497;
            --color-orange: #bf925a;

            --color-sand: #c2aa85;
            --color-lyssand: #ddd8c4;
            --color-text_mork: #333333;
            --color-scroll: rgba(255, 255, 255, 0.51);

        }

        img {
            width: 100%;
        }

        .knap {
            text-decoration: none;
            border: 0.5px white solid;
            padding: 0.5rem;
            text-align: center;
        }


        /**GENERELLE STYLINGS**/

        body {
            margin: 0;
            max-width: 1280px;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 300;
            color: white;
            margin-left: 1rem;
        }

        p {
            font-family: 'Hind', sans-serif;
            color: white;
            margin-left: 1rem;
            margin-right: 1rem;
            font-weight: 300;
        }

        nav a {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            color: white;
        }

        a {
            font-family: 'Hind', sans-serif;
            color: white;
        }

        footer {
            background-color: var(--color-lyssand);
        }



        /******MOBIL*****/

        #splash img {
            max-width: 375px;

        }


        /****BURGERMENU****/

        nav a {
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 0.5rem;
        }

        nav a:hover {
            color: var(--color-orange);
        }


        label .menu {
            position: fixed;
            overflow: hidden;
            top: 34.5rem;
            left: 16rem;
            z-index: 100;
            width: 200px;
            height: 200px;
            background: var(--color-mosegron);
            border-radius: 50% 50% 50% 50%;
            transition: 0.5s ease-in-out;
            box-shadow: 0 0 0 0 var(--color-mosegron), 0 0 0 0 var(--color-mosegron);
            cursor: pointer;

        }

        label .hamburger {
            position: fixed;
            top: 38.5rem;
            left: 19.3rem;
            width: 40px;
            height: 3px;
            background: white;
            display: block;
            transform-origin: center;
            transition: 0.5s ease-in-out;
        }

        label .hamburger:after,
        label .hamburger:before {
            transition: 0.5s ease-in-out;
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: white;
        }

        label .hamburger:before {
            top: -0.6rem;
        }

        label .hamburger:after {
            bottom: -0.6rem;
        }

        label input {
            display: none;
        }

        label input:checked + .menu {
            /*box-shadow: 0 0 0 100vw var(--color-navigation), 0 0 0 100vh var(--color-navigation);*/
            box-shadow: 0 0 0 var(--color-mosegron), 0 0 0 100vh var(--color-mosegron);
            border-radius: 0;
        }

        label input:checked + .menu .hamburger {
            transform: rotate(45deg);
        }

        label input:checked + .menu .hamburger:after {
            transform: rotate(90deg);
            bottom: 0;
        }

        label input:checked + .menu .hamburger:before {
            transform: rotate(90deg);
            top: 0;
        }

        label input:checked + .menu + ul {
            opacity: 2;
        }

        .logo img {
            width: 50%;
        }

        label ul {
            z-index: 200;
            position: fixed;
            width: 100%;
            top: 20rem;
            left: 10.5rem;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.25s 0s ease-in-out;
            list-style-type: none;

        }

        .hide {
            display: none;
        }

        label a {
            margin-bottom: 1em;
            display: block;
            color: white;
            text-decoration: none;
        }


        /*****COVER BILLEDE****/

        .logo_mobil img {
            position: absolute;
            width: 35%;
        }

        #cover .overskrift {
            margin-top: -10rem;
            font-size: 2.3rem;
            font-weight: 400;
        }

        #cover h2 {
            font-size: 1.4rem;
            font-weight: 200;
            margin-top: -1rem;
        }

        #cover p {
            font-size: 1.1rem;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 200;
            margin-top: -0.5rem;
            margin-bottom: 0.5rem;
        }

        #cover a {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 200;
            font-size: 1rem;
            padding: 0.5rem;
            text-decoration: none;
            border: 0.02px solid white;
            margin-left: 11.5rem;

        }


        /****BLOK 1****/

        .indhold1 {
            background-color: var(--color-mosegron);
            padding-top: 3rem;
        }

        .indhold1 .blok1 {
            padding-bottom: 1rem;
            border: 1px solid white;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        .indhold1 h2 {
            margin-top: 1rem;
        }

        .indhold1 p {
            margin-bottom: 0.5rem;
        }

        .indhold1 .blok1 a {
            font-size: 0.7rem;
            margin-left: 7rem;
        }

        /*****BLOK 2******/

        .indhold2 {
            background-color: var(--color-sand);
            padding-top: 3rem;
            padding-bottom: 3rem;
            margin-top: -0.5rem;
        }

        .indhold2 h3 {
            font-size: 2rem;
            text-align: center;
        }

        .indhold2 h4 {
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
        }

        .indhold2 h5 {
            font-size: 2.2rem;
            text-align: center;
        }

        .indhold2 p {
            font-size: 1.4rem;
            text-align: center;
        }

        .indhold2 .knap {
            font-size: 1.5rem;
            margin-left: 5rem;
            margin-right: 5rem;
            text-align: center;
            margin-top: 2rem;
        }

        .indhold2 img {
            display: none;
        }

        /*****FOOTER****/

        footer .some h1 {
            display: none;
        }

        footer {
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 0.1rem;
        }

        footer h1 {
            font-size: 1.8rem;
            font-weight: 200;
            margin: 0;
        }

        footer p {
            margin-top: -0.5rem;
        }

        footer img {
            text-align: center;
            width: 10%;
            margin-top: 0.5rem;
            margin-left: 0.3rem;
        }

        footer .sog p {
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            margin-right: 11rem;
            padding: 0rem 0rem 0rem 0.5rem;
            text-align: left;
        }

        /*****MEDIA Q iphone plus*******/
        @media only screen and (min-width: 400px) {

            /****BURGER****/
            #splash img {
                width: 414px;
            }

            label .menu {
                top: 38.5rem;
                left: 18rem;
            }

            label .hamburger {
                top: 43rem;
                left: 21rem;
                width: 50px;
            }

            label ul {
                top: 22rem;
                left: 12.5rem;
            }

            /*****COVER BILLEDE****/

            #cover .overskrift {
                margin-top: -11rem;
                font-size: 2.5rem;
            }

            #cover h2 {
                font-size: 1.5rem;
            }

            #cover p {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }

            #cover a {
                font-size: 1.1rem;
                margin-left: 14rem;

            }


            /****BLOK 1****/

            .indhold1 {
                padding-top: 3rem;
            }

            .indhold1 .blok1 {
                padding-bottom: 1.5rem;
            }

            .indhold1 p {
                margin-bottom: 1.3rem;
            }

            .indhold1 .blok1 a {
                font-size: 0.8rem;
            }


        }

        /*****MEDIA Q iphone 10*******/
        @media only screen and (min-height: 812px) {

            nav a {
                font-size: 1.8rem;
            }


            label .menu {
                top: 43rem;
                left: 16rem;
            }

            label .hamburger {
                top: 47rem;
                left: 19.4rem;
            }

            label ul {
                top: 25rem;
            }


            /****COVER****/

            .logo_mobil img {
                margin-top: 0rem;
            }

            /****BLOK 1****/

            .indhold1 {
                padding-top: 3rem;
            }

            .indhold1 .blok1 {
                padding-bottom: 1.5rem;
            }

            .indhold1 p {
                margin-bottom: 1.3rem;
            }

            .indhold1 .blok1 a {
                font-size: 0.7rem;
            }

            footer .sog p {
                font-size: 1rem;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                margin-right: 11rem;
                padding: 0rem 0rem 0rem 0.5rem;
                text-align: left;
            }

        }


        /*****MEDIA Q IPAD PORTRAIT*******/
        @media only screen and (min-width:600px) {

            #splash img {
                width: 768px;
            }

            /****BURGERMENU****/

            label a {
                font-size: 2.5rem;
            }

            .logo img {
                width: 40%;
            }


            label .menu {
                overflow: hidden;
                top: 54rem;
                left: 38.5rem;
                width: 15rem;
                height: 15rem;

            }

            label .hamburger {
                top: 59.5rem;
                left: 42.7rem;
                width: 50px;
                height: 4px;
            }



            label ul {
                top: 51%;
                left: 48%;
            }

            /*****COVER BILLEDE****/

            .logo_mobil img {
                width: 30%;
            }

            #cover .overskrift {
                margin-top: -20rem;
                font-size: 4.3rem;
            }

            #cover h2 {
                font-size: 2.6rem;
                margin-top: -1.7rem;
            }

            #cover p {
                font-size: 1.8rem;
                margin-top: -1rem;
                margin-bottom: 1.5rem;
            }

            #cover a {
                font-size: 2.3rem;
                padding: 0.7rem;
                margin-left: 23rem;

            }

            /****BLOK 1****/

            .indhold1 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 4rem;
                padding: 2rem 0rem 2rem 0rem;
            }


            .indhold1 p {
                margin-bottom: 1.4rem;
            }

            .indhold1 .blok1 a {
                font-size: 0.8rem;
                margin-left: 5rem;
            }

            .indhold1 .blok2 img {
                margin-top: -1.8rem;
                height: 118%;
            }

            /*****BLOK 2******/

            .indhold2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 4rem;
                padding-top: 3rem;
                padding-bottom: 0rem;
                margin-top: -0.5rem;
            }

            .indhold2 .blok1 img {
                display: block;
                margin-top: -3rem;
                margin-left: -0.5rem;
                width: 102%;
            }

            .indhold2 img {
                display: none;
            }

            /****FOOTER*****/

            footer {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding-bottom: 4rem;
            }

            footer .some h1 {
                display: block;
                text-align: center;
                margin-top: 1rem;
            }

            .kontakt_footer {
                margin-top: 1rem;
            }

            footer h1 {
                text-align: left;
                margin-left: 2rem;
                ;
                margin-bottom: 1rem;
            }

            footer p {
                text-align: left;
                margin-top: -0.5rem;
                margin-left: 2rem;
            }

            footer img {
                text-align: center;
                width: 15%;
                margin-top: -1rem;
                margin-left: 1.5rem;
            }

            footer .sog p {
                font-size: 1.2rem;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                margin-right: 1rem;
                padding: 0rem 0rem 0rem 0.5rem;
                text-align: left;
            }



        }

        /******MEDIA Q IPAD LANDSCAPE*****/

        @media only screen and (min-width: 1024px) {

            /******BURGER*****/

            .logo img {
                width: 45%;
            }

            label ul {
                left: 32rem;
                width: 50%;
                padding-top: 3rem;
                padding-bottom: 2rem;
            }

            label .menu {
                top: 40rem;
                left: 55rem;
            }

            label .hamburger {
                top: 44.5rem;
                left: 58.5rem;
            }

            label input:checked + .menu {
                box-shadow: 0 0 0 150vh var(--color-mosegron);
            }

            /*****COVER BILLEDE****/

            .logo_mobil img {
                width: 20%;
            }

            #cover p {
                margin-bottom: 1rem;
            }

            #cover a {
                font-size: 2rem;
                padding: 0.7rem;
                margin-left: 23rem;

            }

            /****BLOK 1****/

            .indhold1 {
                margin-top: 3rem;
                padding: 4rem 1rem 2rem 0.5rem;
            }

            .indhold1 .blok1 {
                margin: 1rem;
                padding: 0.5rem;
                padding-bottom: 1.5rem;
            }

            .indhold1 .blok1 h2 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }


            .indhold1 p {
                font-size: 1.3rem;
                ;
                margin-bottom: 1rem;
            }

            .indhold1 .blok1 a {
                font-size: 1rem;
                margin-left: 9rem;
            }

            .indhold1 .blok2 img {
                margin-top: -1.8rem;
                height: 113%;
                width: 110%;
                margin-left: 0.5rem;
            }

            /*****BLOK 2******/
            .indhold2 .blok2 {
                margin-top: 3rem;

            }

            .indhold2 h3 {
                font-size: 2.5rem;
            }

            .indhold2 h4 {
                font-size: 3.5rem;
            }

            .indhold2 h5 {
                font-size: 2.5rem;
            }

            .indhold2 p {
                margin-top: 0.5rem;
                font-size: 1.7rem;
            }

            .indhold2 .knap {
                font-size: 1.7rem;
            }

            /****FOOTER*****/

            footer h1 {
                font-size: 2rem;
            }

            footer p {
                font-size: 1.2rem;
            }

            footer img {
                margin-left: 1rem;
            }

            footer .sog p {
                font-size: 1.5rem;
            }

        }



        /*******MEDIE Q DESKTOP****/
        @media only screen and (min-width:1025px) {

            /*****NAVIGATION****/

            .logo_mobil img {
                display: none;
            }

            .logo img {
                width: 15%;

            }

            .navigation {
                position: fixed;
                height: 8rem;
                width: 100%;
            }

            nav a {
                display: inline;
                margin-left: 4rem;

            }

            label .menu {
                display: none;

            }

            label .hamburger {
                display: none;
            }


            label ul {
                position: fixed;
                transform: none;
                opacity: 100;
                transition: none;
                list-style-type: none;
            }


            .hide {
                display: inline-block;
                position: fixed;
                top: 1rem;
                width: 100%;
                margin-left: -31rem;
                margin-top: -13rem
            }


            label li {
                display: inline;
                margin-top: 1rem;
            }

            label a {
                display: inline;
                margin-bottom: 1em;
                color: white;
                text-decoration: none;
            }

            /*********COVER BILLEDE*******/


            .splash img {
                max-width: 1920px;
                height: 550px;
            }

            #cover .overskrift {
                margin-top: -17rem;
                font-size: 5rem;
                font-weight: 400;
            }

            #cover h2 {
                font-size: 2.5rem;
                font-weight: 200;
                margin-top: -1.9rem;
            }

            #cover p {
                font-size: 1.5rem;
                font-family: 'Titillium Web', sans-serif;
                font-weight: 200;
                margin-top: -0.5rem
            }

            #cover a {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 200;
                font-size: 1.5rem;
                padding: 1rem;
                text-decoration: none;
                border: 0.02px solid white;
                margin-left: 20rem;
                margin-top: -15rem;
            }

            /*****BLOK 1****/

            .indhold1 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .indhold2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .indhold2 img {
                height: 400px;
            }



        }
